# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Django
db.sqlite3
media/

# Environment variables
.env

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Static (production)
staticfiles/