<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            HAUSPELLA
        {% endblock %}
    </title>
</head>
<body>

<header>

    <h1>HAUSPELLA</h1>

    <nav>

        <a href="{% url 'pages:home' %}">
            Главная
        </a>

        |

        <a href="{% url 'catalog:product_list' %}">
            Каталог
        </a>

        |

        <a href="{% url 'cart:detail' %}">
            Корзина
        </a>

    </nav>

    <hr>

</header>

<main>

{% block content %}

{% endblock %}

</main>

<hr>

<footer>

    <p>
        © HAUSPELLA
    </p>

</footer>

</body>
</html>