{% extends "base.html" %}

{% block title %}
{{ product.name }}
{% endblock %}

{% block content %}

<h1>{{ product.name }}</h1>

<hr>

<p>
    Цена:
    {{ product.price }} ₽
</p>

<form
    action="{% url 'cart:add' product.pk %}"
    method="post"
>

    {% csrf_token %}

    <button type="submit">

        🛒 Добавить в корзину

    </button>

</form>


{% if product.description %}
<p>
    {{ product.description }}
</p>
{% endif %}

<hr>

<p>
    <a href="{% url 'catalog:product_list' %}">
        ← Вернуться в каталог
    </a>
</p>

{% endblock %}